html, body {
    background-image: url("white-texture.png");
    color: #313131;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
}

h1 {
    display: block;
    background-color: #e3e4e6;
    padding: 20px 0;
    margin: auto;
    margin-left: 25%;
    width: 600px;
    text-align: center;
    border: 3px solid 	#313131;
}

h3 {
    display: block;
    background-color: #e3e4e6;
    padding: 20px 0;
    margin: auto;
    margin-left: 25%;
    width: 600px;
    text-align: center;
    border: 3px solid 	#313131;
}

p{
    background-color: #e3e4e6;
    border: 1px dotted #313131;
    padding: 4px;
}

table {
    margin-left: 26%;
    margin-bottom: 10px;
    background-color: #e3e4e6;
    border: 1px dotted #313131;
}

th, td {
    border: 1px dotted #313131;
}

img {
    border: 3px solid #313131;
    margin-left: 25%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-weight: bold;
    text-align: right;
    background-color: #e3e4e6;
}

.list-block {
    background-color: #e3e4e6;
    border: 1px dotted #313131;
    padding: 4px;
    margin-left: 26%;
    margin-bottom: 5px;
    width: 345px;
    font-size: 20px;
    font-weight: bold;
    float:  left;
}

.top-text {
    display: block;
    font-size: 20px;
    text-align: center;
    margin-left: 24%;
    width: 635px;
}

.base-text2 {
    margin: auto;
    margin-left: 23%;
    margin-bottom: 5px;
    display: block;
    width: 650px;
}

.sideNav {
    background-color: #f7d0cb;
    margin: 0px;
    padding: 0px;
    width: 20%;
    height: 100%;
    position: fixed;
    overflow: auto;
}

.topNavList {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    overflow: hidden;
}

.navBlock {
    display: block;
    text-align: center;
    padding: 14px 16px;
}

.navBlock a {
    font-weight: bold;
    color: 	#313131;
    text-decoration: none;
}

.navBlock:hover {
    background-color: #f6d9d5;
}

#fitted {
    margin-left: 0px;
}

@media screen and (max-width:875px) {
    footer {
        width: 875px;
    }
}

@media screen and (max-width:800px) {
    h1 {
        margin-left: 195px;
    }
    
    h3 {
        margin-left: 195px;
    }

    table {
        width: 520px;
        margin-left: 203px;
    }

    img, #fitted {
        margin-left: 195px;
    }

    .list-block {
        margin-left: 208px;
    }

    .top-text {
        margin-left: 186px;
    }

    .base-text2 {
        margin-left: 180px;
    }

    .sideNav {
        width: 136px;
    }
}