html, body {
    background-color: #f9c78c;
    color: #6e3033;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
}

h1 {
    display: block;
    background-color: #85deb2;
    padding: 20px 0;
    margin: auto;
    margin-top: 50px;
    width: 600px;
    text-align: center;
    border: 3px solid #6e3033;
}

h3 {
    display: block;
    background-color: #85deb2;
    padding: 5px 0;
    margin: auto;
    margin-top: 10px;
    width: 530px;
    text-align: center;
    border: 2px solid #6e3033;
}

p{
    background-color: #f6e8a1;
    border: 1px solid #6e3033;
    padding: 4px;
}

img {
    display: block;
    border: 5px solid #6e3033;
    background-color: #e07761;
    margin-left: auto;
    margin-right: auto;
}

footer {
    margin: 50px;
    bottom: 0;
}

table {
    background-color: #f6e8a1;
    border: 1px solid #6e3033;
    padding: 4px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 5px;
    display: block;
    width: 470px;
    text-align: center;
}

.base-text{
    margin: auto;
    margin-top: 25px;
    margin-bottom: 5px;
    display: block;
    width: 800px;
}

.small-text {
    border: 1px solid #6e3033;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 25px;
    padding: 0px;
    display: block;
    font-size: 25px;
    width: 600px;
}

.small-text p {
    margin: 0px;
}

.list-block {
    background-color: #f6e8a1;
    border: 1px solid #6e3033;
    padding: 4px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 5px;
    display: block;
    width: 345px;
    font-size: 25px;
}

.grid {
    max-width: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "text-block1 img-block" "text-block2 img-block";
  }
  
.text-block1 { 
    grid-area: text-block1; 
}
  
.text-block2 { 
    grid-area: text-block2; 
}
  
.img-block { 
    grid-area: img-block; 
}

.topNav {
    background-color: #e07761;
    margin: 0px;
    padding: 0px;
    width: 100%;
    position: fixed;
    top: 0px;
}

.topNavList {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    overflow: hidden;
}

.navBlock {
    display: inline;
    text-align: center;
    padding: 14px 16px;
}

.navBlock a {
    font-weight: bold;
    color: #6e3033;
    text-decoration: none;
}

.navBlock:hover {
    background-color: #e29283;
}

@media screen and (max-width:800px) {
    .grid {
        display: block;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .base-text {
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    h1 {
        width: 100%;
    }

    .small-text {
        width: 100%;
    }

    .navBlock a {
        font-weight: 500;
    }
}