body, html{
    padding: 0;
    margin: 0;
    width: 100%;
}

body{
  background-image: url("https://discordemoji.com/assets/emoji/6976_DrPhiL.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: rgb(207, 207, 207);
  height: 1000px;
}

.card{
  border: solid rgb(56, 56, 56);
  margin: 2rem;
  width: 50rem;
}

.topnav{
    overflow: hidden;
    background-color: rgb(37, 37, 37);
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: rgb(56, 56, 56);
  }
  
  .topnav a.active {
    background-color: rgb(161, 0, 0);
    color: rgb(255, 255, 255);
  }